<!--The content below is only a placeholder and can be replaced.-->
<!--<app-signup></app-signup>-->
<!--app-signin></app-signin>-->
<!--<app-pipe-demo></app-pipe-demo>-->
<!--<app-observable-demo></app-observable-demo>-->
<h1 align= "center">
  Welcome to {{ title }}!
</h1>

<div class ="container">
  <ul  class = "list-styled nav navbar-nav navbar-default">
    <li><a [routerLink]="['signin']">Login</a></li>
    <li><a [routerLink]="['signup']">Register</a></li>
    <li><a [routerLink]="['pipedemo']">Pipe Demo</a></li>
    <li><a [routerLink]="['obsdemo']">Observables Demo</a></li>
    <li><a [routerLink]="['product']">Product</a></li>
  </ul>
</div>

<router-outlet></router-outlet>


<!--<app-user [title]= "title" [users]= "users" (childEvent) = "childEmittedEvent($event)">
  <header> From Parent {{ title }}</header>
  <footer> Footer Contents</footer>
</app-user> -->

